<nav>
	<div class="level">
		{{currentLevel.mame}} {{currentLevel.title}}
	</div>
	<div class="points">
		{{totalPoints}} pts.
	</div>
	<div class="timers">
		<div class="progress-bar">
			<span style="width: {{percentTimer}}%"></span>
		</div>
		<div class="count">
			{{duration}} / {{currentLevel.time}}seg
		</div>
	</div>
	<div class="combo">
		{{#if combo}}
			<div class="animated bounceInDown"> Combo {{combo}}+ </div>
		{{/if}}
	</div>

	<a class="go-back" {{action 'pause'}}>
		ll
	</a>

</nav>

<div class="memotest">
	{{#each cards as |card|}}
		<div class="card-animation animated bounceInUp">
		{{memo-card class="card" model=card flipped='flipped' bloked=cardsBloked}}
		</div>
	{{/each}}

	{{#if isFinish}}
		<div class="game-finish animated fadeIn">
			<div class="animated bounceInUp">
				<img src="img/pisku.svg" class="bounce pisku pisku-anim" width="150px">
				{{#if isWin}}
					Ganaste!
					<audio src="/img/win.mp3" autoplay>
					<p>If you are reading this, it is because your browser does not support the audio element.     </p>
					</audio>
				{{/if}}
				{{#if isLost}}
					Perdiste!
				{{/if}}
				<span>Puntaje: {{points}}</span>
				<span>Bonus: {{pointsBonus}} ({{reminder}} segs)</span>
				<h2>Total: {{totalPoints}}</h2>
			
			{{#link-to 'index' class='game-home'}} 
				<i class="fa fa-home" aria-hidden="true"></i>
			{{/link-to}}
			{{#if hasNextLevel}}
				<a {{action 'next'}} class="game-next">
					<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
				</a>
			{{else}}
				Terminaste!
			{{/if}}
			</div>
		</div>
	{{/if}}
	{{#if isPause}}
		<div class="game-pause animated fadeIn">
			<div class="animated bounceInUp">
				<h1>Juego en pausa</h1>
				<h2>Mejor Puntaje: {{totalPoints}}</h2>
				{{#link-to 'index' class='game-volume'}} 
					<i class="fa fa-volume-up" aria-hidden="true"></i>
				{{/link-to}}
				{{#link-to 'index' class='game-home'}} 
					<i class="fa fa-home" aria-hidden="true"></i>
				{{/link-to}}
				<a {{action 'resume'}} class="game-next">
					<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	{{/if}}
	
</div>
