<nav>
	<div class="level">
		{{currentLevel.mame}} {{currentLevel.title}}
	</div>
	<div class="points">
		{{totalPoints}} pts.
	</div>
	<div class="timers">
		{{duration}} {{percentTimer}} {{currentLevel.time}}
	</div>
	<div class="combo">
		{{#if combo}}
			<div class="animated bounceInDown"> Combo {{combo}}+ </div>
		{{/if}}
	</div>

	<a class="go-back" {{action 'pause'}}>
		ll
	</a>

</nav>

<div class="memotest">
	{{#each cards as |card|}}
		<div class="card-animation animated bounceInUp">
		{{memo-card class="card" model=card flipped='flipped' bloked=cardsBloked}}
		</div>
	{{/each}}

	{{#if isFinish}}
		<div class="game-finish animated fadeIn">
			{{#if isWin}}
				Ganaste!
			{{/if}}
			{{#if isLost}}
				Perdiste!
			{{/if}}
			<div class="animated bounceInUp">
				<img src="img/pisku.svg" class="bounce pisku pisku-anim" width="150px">
				<span>Puntaje: {{points}}</span>
				<span>Bonus: {{pointsBonus}} ({{reminder}} segs)</span>
				<h2>Total: {{totalPoints}}</h2>
			
			{{#link-to 'index' class='game-home'}} 
				<i class="fa fa-home" aria-hidden="true"></i>
			{{/link-to}}
			{{#if hasNextLevel}}
				<a {{action 'next'}} class="game-next">
					<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
				</a>
			{{else}}
				Terminaste!
			{{/if}}
			</div>
		</div>
	{{/if}}
	{{#if isPause}}
		<div class="game-pause animated fadeIn">
			<div class="animated bounceInUp">
				<h1>Juego en pausa</h1>
				<h2>Mejor Puntaje: {{points}}</h2>
				{{#link-to 'index' class='game-volume'}} 
					<i class="fa fa-volume-up" aria-hidden="true"></i>
				{{/link-to}}
				{{#link-to 'index' class='game-home'}} 
					<i class="fa fa-home" aria-hidden="true"></i>
				{{/link-to}}
				<a {{action 'resume'}} class="game-next">
					<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	{{/if}}
	
</div>
